<form action="<%= cats_url %>" method="post" >
<label >select gender:
<br>
<label >Male:
<input type="radio" name="cat[sex]" value="M" >
<br>
<label >Female:
<input type="radio" name="cat[sex]" value="F" >

<br>
<br>
<select  name="cat[color]" value="">
 <option disabled selected value> -- select an option -- </option>
<% Cat::COLORS.each do |color|%>
<option value="<%= color%>"> "<%= color %>"</option>
<% end%>
</select>
<br>
<br>
<input name="cat[name]" type="text">
<br>
<br>
<label>Start date:</label>
<input type="date" name="cat[birth_date]"
       value="2018-07-22"
       min="2018-01-01" max="2022-12-31">
       

<input type="submit" value="Update Cat" >

</form>



